/* Estilos gerais */
body {
    background-color: purple;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Para centralizar verticalmente */
}

/* Tela de seleção de jogador */
.select-player {
    background: #fff;
    color: purple;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    text-align: center;
    transition: all 0.30s ease;
}

.select-player h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.select-player button {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    background: purple;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.select-player button:hover {
    background: #4b0976;
    transform: scale(0.9);
}

/* Tabuleiro do jogo */
main {
    text-align: center;
    margin-top: 20px;
}

.casas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 300px;
    margin: 0 auto;
}

.casas button {
    display: block;
    margin: 2px;
    height: 80px;
    width: 80px;
    background: #fff;
    border-radius: 5px;
    font-size: 40px;
    text-align: center;
    line-height: 80px;
    color: purple;
    cursor: pointer;
}

.casas button:hover {
    background: #eee;
}

.currentPlayer {
    font-size: 20px;
    margin-top: 20px;
}

.replay-button {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    background: purple;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.replay-button:hover {
    background: #4b0976;
    transition: background 0.3s ease;
    transform: scale(0.9);
}
